.image {
    width: 70%;
    height: 50%;
}

#items {
    display: flex;
    flex-wrap: wrap;
}

.choice-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
}

#lenseChoice {
    text-align-last: center;
}

.panier { 
    display: flex;
    flex-direction: column;
}

.cartProductPicture { 
    height: 10%;
    width: 20%;
}